<div class="inicio-container">
    <mat-card class="inicio-card">
        <mat-card-header class="inicio-header">
            <mat-card-title class="inicio-title">Crear una Encuesta</mat-card-title>
        </mat-card-header>

        <mat-card-content class="inicio-content">
            <div class="caracteristicas-list">

                <div class="caracteristica-item">
                <mat-icon class="caracteristica-icon">flash_on</mat-icon>
                <span class="feature-text">Rápido</span>
                </div>
                
                <div class="caracteristica-item">
                <mat-icon class="caracteristica-icon">done_outline_icon</mat-icon>
                <span class="feature-text">Simple</span>
                </div>
                
                <div class="caracteristica-item">
                <mat-icon class="caracteristica-icon">help_outline</mat-icon>
                <span class="feature-text">Anónima</span>
                </div>
            </div>

            <div class="inicio-actions">
                <button 
                    mat-raised-button 
                    color="primary"
                    class="comenzar-button"
                    (click)="onComenzar()">
                    Comenzar
                </button>
            </div>
            
        </mat-card-content>
    </mat-card>
</div>


